.movie-list {
  display: flex;
  position: relative;
  flex-flow: row wrap;
}

.movie-list-item {
  box-sizing: border-box;
  padding: 20px;
  margin: 1ex;
  outline: 1px solid gray;
  background-color: #e7e7e7;
  flex: 1;
  flex-basis: 40%;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}

.search-box {
  text-align: center;
  margin-bottom: 1ex;
}

.search-button {
  text-align: center;
  outline: 1px solid gray;
  cursor: default;
  display: block;
  margin: auto;
}


.movie-details {
  text-align: justify;
}
.poster-image {
  margin-right: 3em;
  width: 40vw;
}

.modal-close-button-wrapper {
  text-align: right;
}